body {
  /* background-color: #92d0e3; */
}

.first-part-div {
  background-image: url("../Images/psd.jpeg");
  background-size: cover;
  height: 800px;
}

/* Keep whitespace from appearing on right side */
#scroll {
  overflow-x: hidden;
}

.title-div {
  padding-top: 1%;
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: #ec972f;
}


.welcome-button {
  color: #ec972f;
  border-color: #ec972f;
  margin: 0.5%;
  
}

.welcome-button:hover {
  background-color: #ec972f;
  border-color: #ec972f;
  
}

.h1-title-div {
  margin-top: 10%;
  margin-left: 2%;
  font-size: 6rem;
}

.h1-title-div-welcome {
  margin-top: 10%;
  margin-left: 2%;
  font-size: 8rem;
}


.intro-div {
  /* padding-top: 1%; */
  text-align: center;
  width: 40%;
  margin: auto;
  font-family: 'Quicksand', sans-serif;
  color: #edc01cc9;
}


.group-projects-hr {
  border:  none;
  border-top: 1px solid #070707;
  width: 4%;
  box-sizing: border-box;
  margin: 0 auto 2% auto;

}

.div-before-projects {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: #edc01cc9;
  margin-bottom: 2%;
  margin-bottom: 0;
  
}

.group-projects-h4 {
  color: hsl(0, 0%, 1%);
  width: 40%;
  margin: auto;
  margin-bottom: 4%;
  padding-top: 4%;
}

@media (max-width: 546px) {
  .h1-title-div-welcome {
    visibility: hidden;
  }
}



@media (min-width: 1400px) {
  .img-ds-wd {
    width: 13%;
    float: left;
    margin-top: 5%;
    margin-left: 13%;
    margin-right: 1%;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .img-ds-wd {
    width: 13%;
    float: left;
    margin-top: 9%;
    margin-left: 13%;
    margin-right: 1%;
  }
  
}

@media (min-width: 992px) and (max-width: 1200px) {
  .img-ds-wd {
    width: 16%;
    float: left;
    margin-top: 13%;
    margin-left: 13%;
    margin-right: 1%;
  }
  
}

@media (min-width: 768px) and (max-width: 991px) {
  .img-ds-wd {
    width: 16%;
    float: left;
    margin-top: 27%;
    margin-left: 13%;
    margin-right: 1%;
  }
  
}

@media (min-width: 500px) and (max-width: 767px) {
  .img-ds-wd {
    width: 16%;
    float: left;
    margin-top: 16%;
    margin-left: 10%;
    margin-right: 1%;
  }
  
}

@media (max-width: 500px) {
  .img-ds-wd {
    display: none;
  }
  
}



/* ---------------------------------------- Solo projects ---------------------------------------------------- */

.solo-projects {
  color: #010101;
  background-color: #f6f3ea;
  overflow: hidden;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  margin: auto;
}

.center {
  margin: auto;
}

.h4-solo {
  margin: 2% 0;
}

.solo-projects-hr {
  border:  none;
  border-top: 1px solid rgb(9, 9, 9);
  width: 4%;
  box-sizing: border-box;
  margin: 1% auto;
}


/* ---------- Circulate ----------- */
.c-left-div {
  background-color: #fff1d1;
  margin: 2% 0;
  
}

.c-right-div {
  background-color: #f6efdf;
  margin: 2% 0;
  padding-bottom: 4%;
}


.circulate-description {
  width: 60%;
  margin: 10% auto 3% auto;
}

.c-f-b-stack {
  font-weight: bold;
}

.c-frontend {
  text-align: left;
  margin-left: 15%;
}

.c-backend {
  text-align: left;
  margin-left: 15%;
  
}

.stack-hr {
  border:  none;
  border-top: 1px solid rgb(9, 9, 9);
  width: 12%;
  margin: 5% auto;
}


.c-follow-me {
  margin-top: 5%;
}

.circulate-img {
  width: 10%;
  margin: 10% 0 3% 0;
}

/* ---------- Circulate ----------- */


/* ------------------------------------- Bottom container CSS -------------------------------------------- */

.bottom-container {
  text-align: center;
  padding-bottom: 3%;
  font-family: 'Quicksand', sans-serif;
  background-color: #f6f3ea;
}

.bottom-div {
  padding-top: 1%;
}

.a-contact {
  margin-right: 1%;
}

.copyright {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  color: #ffc800;
}

.a-modal {
  color: #7aa6e3;
  text-align: center;
} 



/** -------------------------------------------------------------------- CARDS -----------------------------------------------------------**/

.card-custom {
  background-color: #ffe57c00;
  border-color: #02020200;
  text-align: center;
  color: #050505;
  width: 75%;
  margin: 2% auto;
}
.cards-hr {
  border:  none;
  border-top: 1px solid rgb(9, 9, 9);
  width: 15%;
  box-sizing: border-box;
  margin: 2% auto 10% auto;
}

.github-hr {
  border:  none;
  border-top: 1px solid rgb(9, 9, 9);
  width: 10%;
  box-sizing: border-box;
  margin: 2% auto;
}

.java-card-hr {
  border:  none;
  border-top: 1px solid rgb(9, 9, 9);
  width: 5%;
  box-sizing: border-box;
  margin: 2% auto;
}

.github-ref {
  font-family: 'Pacifico', cursive;
  margin-top: 5%;
}


h5 {
  font-weight: bold;
}

.p-f-b-end {
  font-weight: bold;
}

.btn-learn-more {
  color: #ec972f;
  /* background-color: #ec972f; */
  /* border: none; */
  margin: 2% 0 5% 0;
}

.btn-learn-more:hover {
  background-color: #e7c05f;
  color: #fff;
}

.tech-stack-list {
  text-align: left;;
}

a {
  color: #080808;
  text-decoration: none;
}

a:hover {
  color: #e7c05f;

}

.project-image {
  width: 10%;
}


.bottom-bottom {
  background-color: #f6f3ea;
  font-family: 'Quicksand', sans-serif;

}

.second-title {
  text-align:center;
}

.contact-me {
  color: #020202;
  margin-top: 2%;
}

.credits-button:hover {
  background-color: #f7e2b1;

}

